---
export interface Props {
  prize: string
}

const { prize } = Astro.props
---

<div
  id="game-success-content"
  class="hidden h-full flex-col justify-center items-center text-center"
>
  <h2
    class="text-4xl text-brand font-bold mb-6 uppercase text-balance"
    style="font-family: 'Heavy', sans-serif;"
  >
    ¡El premio de hoy ha sido revelado!
  </h2>
  <p class="text-white text-lg mb-2">El sorteo de esta casilla es:</p>
  <p class="text-3xl text-brand font-bold uppercase mb-8 text-balance">{prize}</p>

  <div class="bg-black/30 p-4 rounded-lg border border-white/10 mb-6 w-full">
    <p class="text-sm text-white/60 mb-2 text-balance">
      * El ganador de este premio será revelado el 24 de diciembre.
    </p>
    <p class="text-sm text-brand/80 font-bold text-balance">
      ¡Recuerda que tienes hasta el 23 de diciembre para registrar tu calendario y participar en el
      sorteo de todos estos premios!
    </p>
  </div>
</div>
