---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout>
  <div class="flex min-h-screen flex-col">
    <div class="flex flex-1">
      <section
        class="max-w-4xl mx-auto px-4 py-20 flex justify-center items-center flex-col gap-8"
      >
        <h1 class="text-6xl md:text-8xl text-brand text-balance text-center">
          Big Ibai aún no ha llegado a estas tierras
        </h1>
        <a
          href="/"
          title="Volver al Inicio"
          class="px-6 py-3 bg-brand hover:bg-yellow-400 text-black/80 font-bold rounded-lg transition-all hover:scale-105 active:scale-95"
          >Volver al Inicio</a
        >
      </section>
    </div>
    <Footer />
  </div>
</Layout>
