---
import Layout from "@/layouts/Layout.astro"

import Footer from "@/sections/Footer.astro"
import LegalNotice from "@/content/legal/aviso-legal.md"
---

<Layout>
    <main class="md-container">
        <LegalNotice />
    </main>

    <Footer />
</Layout>
