---
import Layout from "@/layouts/Layout.astro"

import Footer from "@/sections/Footer.astro"
import CookiePolicy from "@/content/legal/politica-de-cookies.md"
---

<Layout>
    <main class="md-container">
        <CookiePolicy />
    </main>

    <Footer />
</Layout>
