---
import Layout from "@/layouts/Layout.astro"

import Footer from "@/sections/Footer.astro"
import Privacy from "@/content/legal/privacidad.md"
---

<Layout>
    <main class="md-container">
        <Privacy />
    </main>

    <Footer />
</Layout>
