---
import Layout from "@/layouts/Layout.astro"

import Footer from "@/sections/Footer.astro"
import Privacy from "@/content/legal/privacidad.md"
---

<Layout>
  <main
    class="md-container"
    role="contentinfo"
    aria-label="Política de Privacidad"
    aria-live="assertive"
  >
    <Privacy />
  </main>

  <Footer />
</Layout>
