---
import Layout from "@/layouts/Layout.astro"

import Footer from "@/sections/Footer.astro"
import Privacy from "@/content/legal/privacidad.md"
---

<Layout>
    <section class="relative before:content-[''] before:absolute before:inset-0 before:bg-black/20 before:z-0">
        <main class="relative z-10 md-container">
            <Privacy />
        </main>
    </section>

    <Footer />
</Layout>
