<footer class="pt-10 text-white pb-4">
  <div class="w-full max-w-xl mx-auto p-4 flex flex-col gap-4 md:gap-0 md:flex-row justify-between items-center"
  >
    <a href="/">
      <img
        class="w-24 drop-shadow drop-shadow-black/30 select-none"
        src="/logo-a.svg"
        alt="bigibai logo"
      />
    </a>

    <nav>
      <ul class="flex flex-wrap gap-4 md:gap-6 justify-center items-center">
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition"
            href="/privacidad">Privacidad</a
          >
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition"
            href="/aviso-legal">Aviso Legal</a
          >
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition"
            href="/politica-de-cookies">Política de Cookies</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="text-center">
    <small class="opacity-80"
      >© 2025 Salad Brands SL. · <a
        class="hover:underline"
        href="mailto:hola@bigibai.com">hola@bigibai.com</a
      >
    </small>
  </div>
</footer>
