---
import SubscribeForm from '@/newsletter/components/SubscribeForm.astro'
---

<main class="mx-auto flex max-w-4xl flex-col items-center justify-center gap-4 px-4 py-20">
  <p
    class="fade-in-up mb-10 text-center text-xl text-balance text-white/80"
    style="animation-delay: 0.2s;"
    aria-live="off"
  >
    ¿Listos para celebrar las Navidades juntos de nuevo? Descubre la nueva edición de Big Ibai y
    mucho más próximamente.
  </p>
  <h2
    class="fade-in-up text-shadow-title text-center text-5xl font-normal text-white"
    style="animation-delay: 0.4s;"
    role="contentinfo"
    aria-label="¿Quieres que te avisemos?"
  >
    ¿Quieres que te avisemos?
  </h2>
  <!--<p class="text-xl text-white/80 text-center text-balance mb-10"  aria-live="off">Unete a los mas de <span class="text-brand font-bold text-3xl newsletter-count"><span id="newsletter-count"></span> reals</span> que ya están suscritos.</p>-->
  <SubscribeForm />
</main>
